<div>
	<h2>2021年线上画展</h2>
	<h1>colors of life</h1>
	<h3>生活需要不同的色彩，调色生活的画笔掌握在自己手里。</h3>
	<a href="/exhibition">
		<svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 3.60769L20 14L2 24.3923V3.60769Z" stroke="white" stroke-width="4"/>
		</svg>
		开始参观
		<svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M22 24.3923L4 14L22 3.60769L22 24.3923Z" stroke="white" stroke-width="4"/>
		</svg>
	</a>
</div>
<p>版权所有，翻印必究</p>
<div class="decor decor-1"></div>
<div class="decor decor-2"></div>